// Mixins in here
.button-style (@bg, @color) {
    .btn{
        width: 83.5%;
        cursor: pointer;
        font-size: 1.8rem;
        text-align: center;
        color: @color;
        border-radius: 1.4rem;
        padding: 1.25rem 0;
        background-color: @bg;
    }

}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }